@model Inlamning1.Models.ViewModels.CustAcctViewModel

@{

}

<h4>Customers List:</h4>



@foreach (var customer in Model.customers)
{
    <h6>@customer.customerId, @customer.customerName</h6>

    <h7>Account:</h7>
    @foreach (var account in Model.accounts)
    {
        <ul>
            <li>
                @account.accountId - Balance: @account.balance
            </li>
        </ul>
    }
}