@model Inlamning1.Models.ViewModels.HomeViewModel

<h4>Customers List:</h4>

@foreach (var customer in Model.Customers)
{
    <h6>@customer.Id, @customer.Name</h6>
    <h7>Account:</h7>
    @foreach (var account in customer.Accounts)
    {
        <ul>
            <li>
                @account.AccountId - Balance: @account.Balance 
            </li>
        </ul>
    }

}
