<form asp-controller="Transfer" asp-action="Transfer" method="post">
    <label>From account:</label>
    <Input name="fromacc" /><br />
    <label>To account:</label>
    <Input name="toacc" /><br />
    <label>Amount:</label>
    <Input name="amount" /><br />

    <input type="submit" value="Transfer" />
  
</form>

@TempData["info"]
